{
    "env": {
        "node": true, // this is the best starting point
        "es6": true // enables es6 features
    },
    "parser": "babel-eslint", // needed to make babel stuff work properly
    "extends": "airbnb",
    "rules": {
      "no-undef":2,
      "react/jsx-filename-extension":0

    }
}
