language: node_js
node_js:
  - "9"

cache: yarn

before_install:
  - cd BilparkApp
  - cd src
  - cd config
  - cp connections.js.example connections.js
  - cd ..
  - cd ..

before_script:
  - npm install
  - npm install -g exp

install:
  - npm install -g codecov

script:
  - npm test
  - 'if [ "$TRAVIS_PULL_REQUEST" != "false" ]; then yarn appr; fi'

after_success:
  - bash <(curl -s https://codecov.io/bash)

notifications:
  email: false
  slack:
    rooms:
      - bachelor-it2901:GvHs8vnnvxJB8Rfb78EuRnJ8#travis
